/* css styles */
mjx-container[display="true"] {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

/* font size of references */
.refs-small-text {
  font-size: 50%;
}

/* math inline ($ only) size */
.math.inline .MathJax {
font-size: 90% !important;
}

/* math display ($$) size */
.math.display .MathJax {
    font-size: 90% !important;
}
